## Twitter Consumer API Key
export TWIT_CONSUMER_KEY="..."

## Twitter Consumer API Secret
export TWIT_CONSUMER_SECRET="..."

## Twitter Account Key
export TWIT_ACCESS_KEY="..."

## Twitter Account Secret
export TWIT_ACCESS_SECRET="..."

## Port
export PORT="..."

## Host, including port as above
export HOST="http://localhost:2000/"
